cmake-build-debug/
cmake-build-release/
cmake-build-*
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

.idea/
*.iml

hex_dump
hex_dump.exe
*.out
*.o
*.a
*.so
*.dll

*.tmp
*.temp
*.log
*.bak

*.user
*.sublime-workspace
*.sublime-project

*~
*.orig
*.swp

*.o
*.obj

test/
*.test

*.bin
*.dat

*.class
*.jar